name: Build Electron App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Package Electron app
        run: npm run dist

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4   # updated from v3 to v4
        with:
          name: Electron-app-${{ matrix.os }}
          path: dist_electron/
